<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asureshprabhu.smartswitch">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smart_switch_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dashboard" />
        <activity android:name=".profile" />
        <activity android:name=".switch_onoff" />
        <activity android:name=".timer" />
        <activity android:name=".settings" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".TimerMainActivity"
            android:label="@string/title_activity_timer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TimerActivityMain" />
        <activity android:name=".AllTasks"></activity>
    </application>

</manifest>